#app {
  margin-left: 5%;
  margin-right: 5%;
  font-family: 'Space Mono', monospace;
}
b{
  font-size: 60px;
}
p{
  font-size: 25px;
  width: 50%;
}
button{
  width: 200px;
  padding: 10px;
  background: #333333;
  color: #ffffff;
}
.footer{
  width: 100%;
  float: left;
  text-align: center;
  margin-top: 2%;
}
@media (min-width: 960px) {
  .logo {
    display: flex;
    float: left;
    flex-direction: column;
    width: 50%;
  }
  .menssage {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  img{
    width: 500px;
    height: 500px;
  }
}
@media (max-width: 650px) {
  .logo {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  img{
    width: 100%;
  }
}